body {
  background-color: #eee;
  color: #1a1a1a;
  font-style: normal;
  font-size: 1.1em;
  font-family: Helvetica, Arial, sans-serif;
}
a { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }
h1 a, .heading a { color: black; }
h1 a:hover { text-decoration: none; }
/*a:visited { color: green; }*/
.post .heading:before { content: "// "; }
.post .heading { font: bold 20px monospace; }
.post .date { font: italic 14px monospace; }
.post h2 { margin: 0; }
.post p.date { margin: 0; font-style: italic; }
.post p.date:before { content: "/* "; }
.post p.date:after { content: " */"; }
.post p {
  word-wrap: break-word;
}
.footer { padding-top: 0px; }
.footer p { padding: 0; margin: 0;}
blockquote {
  margin-left: 10px;
  padding-left: 10px;
  border-left: 1px solid gray;
}
pre {
  margin-left: 10px;
  background-color: #ddd;
  padding: 5px;
}
p code, li code {
  background-color: ghostWhite;
  color: #444;
  padding: 0 .2em;
  border: 1px solid #DEDEDE;
}
.post {
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #666;
}
.nav {
  margin-bottom: 10px;
}
.nav h1, .nav ul, .nav li {
  display: inline;
}
.nav h1 {
  font: bold 26px monospace;
}
.nav li, .paginator, .footer {
  font: normal 13px monospace;
}
.content {
  margin: 0 auto;
  max-width: 986px;
}
.paginator {
  margin-bottom: 10px;
  text-align: center;
}
