body {
  background-color: #eee;
  color: #1a1a1a;
  font-style: normal;
  font-size: 1.0em;
  font-family: Helvetica, Arial, sans-serif;
}
a { color: #06c; text-decoration: none; }
a:hover { text-decoration: underline; }
.post p a:visited { color: #004488; }
h1 a, .heading a { color: black; }
h1 a:hover { text-decoration: none; }
.post .heading:before { content: "// "; }
.post .heading { font: bold 20px monospace; }
.post .date { font: italic 14px monospace; }
.post h2 { margin: 0; }
.post p.date { margin: 0; font-style: italic; }
.post p.date:before { content: "/* "; }
.post p.date:after { content: " */"; }
.post p {
  line-height: 1.5em;
  word-wrap: break-word;
}
.footer { padding-top: 0px; }
.footer p { padding: 0; margin: 0;}
blockquote {
  margin: 0;
  padding: 7px 15px;
  border-left: 7px solid rgba(128, 128, 128, 0.075);
  background-color: #f3f3f3;
}
blockquote p { margin: 0; }
pre {
  margin-left: 10px;
  background-color: #ddd;
}
p code, li code {
  background-color: rgba(0,0,0,0.04);
  margin: 0;
  color: black;
  padding: .2em 0;
  border-radius: 3px;
  font-size: 95%;
}
p code::before, li.code::before, p code::after, li.code::after {
    letter-spacing: -0.2em;
    content: "\00a0";
}
.post {
  margin-bottom: 15px;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #666;
}
.nav {
  margin-bottom: 10px;
}
.nav h1, .nav ul, .nav li {
  display: inline;
}
.nav h1 {
  font: bold 26px monospace;
}
.nav li, .paginator, .footer {
  font: normal 13px monospace;
}
.content {
  margin: 0 auto;
  max-width: 986px;
}
.paginator {
  margin-bottom: 10px;
  text-align: center;
}
hr {
  border: 1px solid #f3f3f3;
}
table {
  border-collapse: collapse;
  border-left: 7px solid #eaeaea;
  background-color: #f3f3f3;
}
table th, table td {
  padding: 7px 15px;
}
table thead {
  text-align: left;
}

table td:first-child {
  width: 20%;
}
table thead tr, table tbody tr:nth-child(even) {
  background-color: #eee;
}
code, pre {
  background-color: #f8f8f8;
  font-family: Inconsolata, monospace, sans-serif;
}
