permalink: /posts
title: Posts
layout: simple.liquid
data:
  route: posts
---
{% assign years = "2017, 2016, 2015, 2014, 2013, 2012, 2011" | split: ", " %}
{% for year in years %}

<h3>{{year}}</h3>

<ul>
  {% for post in collections.posts.pages %}
    {% assign postyear = post.published_date | date: "%Y" %}
    {% if postyear == year %}
      <li>{{ post.published_date | date: "%d %b"}}: <a href="/{{post.permalink }}">{{post.title}}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{%endfor%}
