extends: simple.liquid
title: Posts
route: posts
path: /posts
---

{% assign years = "2017, 2016, 2015, 2014, 2013, 2012, 2011" | split: ", " %}
{% for year in years %}

<h3>{{year}}</h3>

<ul>
  {% for post in posts %}
    {% assign postyear = post.date | date: "%Y" %}
    {% if postyear == year %}
      <li>{{post.date | date: "%d %b"}}: <a href="/{{post.path}}">{{post.title}}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{%endfor%}
