---
permalink: /posts
title: Posts
layout: simple.liquid
data:
  route: posts
---

<a href="/tagged/">Post by tag</a>

{% assign years = "2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014, 2013, 2012, 2011" | split: ", " %}
<table>
{% for year in years -%}
<tr>
  <td>&nbsp;</td>
  <td><h3>{{year}}</h3></td>
</tr>

  {%- for post in collections.posts.pages %}
    {%- assign postyear = post.published_date | date: "%Y" %}
    {%- if postyear == year %}
      <tr>
        <td>{{ post.published_date | date: "%d. %b"}}</td>
        <td><a href="/{{post.permalink }}">{{post.title}}</a></td>
      </tr>
    {%- endif %}
  {%- endfor %}

{%- endfor %}
</table>
