@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-roman.woff") format("woff");
}
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-italic.woff") format("woff");
  font-style: italic;
}
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-semibold.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-bold.woff") format("woff");
  font-weight: bold;
}
@font-face {
  font-family: 'Crimson';
  src: url("font/crimson-bolditalic.woff") format("woff");
  font-style: italic;
  font-weight: bold;
}

:root {
  --font: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

html{
  font-family: var(--font);
  font-size:16px;
  line-height:1.5rem
}

:root,
html[data-theme='light'] {
  --main-bg-color: white;
  --text-color: #111;
  --alt-text-color: black;
  --code-bg: rgba(0,0,0,.05);;
  --border-color: rgba(0,0,0,.05);
  --bar-color: rgba(0,0,0,.05);
  --link-color: #00e;
  --link-color-visited: #60b;
  --inline-code: #111;
}

html[data-theme='dark'] {
  --main-bg-color: #111;
  --text-color: #b3b3b3;
  --alt-text-color: #999999;
  --code-bg: #ccc;
  --border-color: #414141;
  --bar-color: #232b34;
  --link-color: #478be6;
  --link-color-visited: #c988ff;
  --inline-code: #323232;
}

.d-none {
  display: none;
}
[data-theme='light'] .block-light,
[data-theme='dark'] .block-dark {
    display: block !important;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

code {
  color: var(--inline-code);
  background-color: var(--code-bg);
}

pre {
  padding: 1ch;
  border: rgba(0,0,0,.1) solid;
  border-width: 1px;
  border-radius: 2px;
  line-height: 1.2rem;

  /* cobalt's highlighting sets inline values, so we need to overwrite them */
  background-color: var(--code-bg) !important;
}

pre > span {
  /* cobalt's highlighting sets inline values, so we need to overwrite them */
  background-color: var(--code-bg) !important;
}

time {
  color: var(--alt-text-color);
}

nav {
  font-family: sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  padding: 28px 0;
}

nav hr {
  display: none;
}

nav .menu-item {
  display: block;
  padding: 10px 0 10px 20px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 100;
}

nav .menu-item.icon {
  font-size: 22px;
  padding-left: 30px;
}

nav a.menu-item {
  color: var(--alt-text-color);
}

aside {
  font-family: sans-serif;
  position: fixed;
  right: 0;
  top: 0;
  padding: 10px 10px;
}

#theme-toggle {
  cursor: pointer;
  border-color: transparent;
  background-color: transparent;
  color: var(--text-color);
}

.menu-item.current,
.menu-item:hover {
  border-left: 3px solid var(--alt-text-color);
}

main {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
  min-height: 600px;
}

body[data-route=about] p {
  padding: 5px 0;
  max-width: 600px;
}

.me-image {
  height: 220px;
  margin: 20px 50px;
  float: right;
}

.about-icon {
  float: left;
  height: 75px;
  margin-right: 20px;
}

article h1 {
  font-size: 2em;
  line-height: 2.5rem;
}

article.blog-list {
  text-align: left;
}

article.blog-list a {
  color: var(--text-color);
  text-decoration: none;
}
article.blog-list a:visited {
  color: var(--text-color);
}

article .metadata a {
  text-decoration: underline;
  color: var(--alt-text-color);
}

article a {
  text-decoration: underline;
  color: var(--link-color);
}
article a:visited {
  color: var(--link-color-visited);
}

/* begin article banner */
.left {
  float: left;
  margin: 5px;
}

.avi-image {
    vertical-align: middle;
    width: 90px;
    padding-right: 10px;
}
.corner {
    border-radius: 50%;
}

.right h3 {
  margin: 5px;
}

.right p {
  margin: 0px;
  padding: 0px;
}

/* end article banner */

footer {
  font-family: sans-serif;
  width: 100%;
  text-align: center;
  color: grey;
  font-weight: 200;
  margin: 0 0 40px;
}

footer a, footer a:visited {
  color: grey;
}

hr {
  padding: 0;
  margin: 10px;
  max-width: 900px;
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.16), rgba(0, 0, 0, 0));
}

blockquote {
  border-color: var(--border-color);

}
blockquote p {
    word-wrap: break-word;
}

@media all and (max-width:1024px) {
  main {
    padding: 0px 40px;
  }
  nav {
    position: static;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 20px 0 0 0;
  }
  nav .menu-item {
    display: inline-block;
    padding: 10px 0 10px 20px;
    text-decoration: none;
    font-size: 20px;
    transition: border-left 0.1s;
  }
  .menu hr {
    display: block;
  }
  .menu-item.current,
  .menu-item:hover {
    border-left: none;
  }
}

h2 {
  font: 600 30px var(--font);
}

h3 {
  font: 600 20px var(--font);
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.footnote-definition {
  margin-top: 10px;
}
.footnote-definition p:before {
  content: ": ";
}
.footnote-definition p {
  display: inline;
  margin: 0;
}

table { margin: 0; }
table, tr, td { border: none; }

.archive-chart {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: calc(2rem / 18);
}
.archive-chart li {
  list-style: none;
}

.archive-chart li {
  position: relative;
}

.archive-chart li a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(6rem / 18);
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: var(--link-color);
}
.archive-chart li a:hover span:first-child {
  text-decoration: underline;
}

.archive-chart li a span:last-child {
  color: var(--text-color);
  font-size: .8rem;
}

.archive-chart-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--bar-color);
  pointer-events: none;
  z-index: 1;
}

ol.archive-chart,
ul.posts-list {
  padding-left: 0;
}
.posts-list li {
  list-style: none;
}
.posts-list li a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  padding: calc(12rem / 18) 0px;
}
.posts-list li a:hover span:first-child {
  text-decoration: underline;
}
.posts-list span:first-child {
  font-size: 1.1rem;
}
.posts-list span:last-child {
  font-size: 0.8rem;
}
