<footer>
  <hr>
  <p>
    &nbsp;&nbsp;jan-erik /
    <a href="http://twitter.com/badboy_">@badboy_</a> /
    <a href="/imprint/">imprint</a> /
    <a href="/feed.xml">feed</a>
  </p>
  <br />
</footer>
<script src="/bundle.js"></script>
