<nav class="menu">
  <a class="menu-item {% if page.data.route == "blog"%}current{%endif%}" href="/">fnordig</a>
  <a class="menu-item {% if page.data.route == "posts"%}current{%endif%}" href="/posts/">posts</a>
  <a class="menu-item {% if page.data.route == "search"%}current{%endif%}" href="/search/">search</a>
  <a class="menu-item" href="/til/">til</a>
  <a class="menu-item {% if page.data.route == "about"%}current{%endif%}" href="/about/">about</a>
  <a class="menu-item {% if page.data.route == "talks"%}current{%endif%}" href="/talks/">talks</a>
  <a class="menu-item" href="/feed.xml">feed</a>
  <a class="menu-item" href="https://hachyderm.io/@jer">@jer</a>
  <a class="menu-item" href="https://github.com/badboy/">github</a>
  <hr>
</nav>
