---
permalink: /tagged/mozilla.html
title: Posts tagged Mozilla
layout: simple.liquid
data:
  route: posts
---

<a href="/tagged/mozilla.xml">RSS Feed</a>

<ul class="posts-list">
  {%- for post in collections.posts.pages %}
    {%- assign postyear = post.published_date | date: "%Y" %}
    {%- if post.tags and post.tags contains "mozilla" -%}
      <li>
        <a href="/{{post.permalink }}">
          <span>{{post.title}}</span>
          <span>
            <time datetime="{{ post.published_date | date: "%FT%T%z" }}">{{ post.published_date | date: "%Y-%m-%d"}}</time>
          </span>
        </a>
      </li>
    {%- endif %}
  {%- endfor %}
</ul>
