---
permalink: /tagged/rust.html
title: Posts tagged Rust
layout: simple.liquid
data:
  route: posts
---

<a href="/tagged/rust.xml">RSS Feed</a>

<table>
  {%- for post in collections.posts.pages %}
    {%- assign postyear = post.published_date | date: "%Y" %}
    {%- if post.tags and post.tags contains "rust" -%}
      <tr>
        <td>{{ post.published_date | date: "%d. %b %Y"}}</td>
        <td><a href="/{{post.permalink }}">{{post.title}}</a></td>
      </tr>
    {%- endif %}
  {%- endfor %}
</table>
