<nav class="menu">
  <a class="menu-item {%if route == "blog"%}current{%endif%}" href="/">fnordig</a>
  <a class="menu-item {%if route == "posts"%}current{%endif%}" href="/posts/">posts</a>
  <a class="menu-item {%if route == "about"%}current{%endif%}" href="/about/">about</a>
  <a class="menu-item {%if route == "talks"%}current{%endif%}" href="/talks/">talks</a>
  <a class="menu-item" href="/feed.xml">feed</a>
  <a class="menu-item" href="https://twitter.com/badboy_/">@badboy_</a>
  <a class="menu-item" href="https://github.com/badboy/">github</a>
  <hr>
</nav>
