<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>fnordig.de</title> 
    <link rel="stylesheet" href="/fnord.css" type="text/css" /> 
    <link rel="stylesheet" href="/coderay.css" type="text/css" />
    <!--[if !IE]>-->
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript">
      window.scrollTo(0, 1);
    </script>
    <!--<![endif]-->
  </head> 
  <body> 
    <div class="content">
      <div class="nav">
        <h1>
          <a href="/">fnordig</a>
        </h1>
        <ul>
          <li><a href="/about/">about</a></li>
          <li><a href="/feed.xml">feed</a></li>
          <li>| links:</li>
          <li><a href="https://twitter.com/badboy_">@badboy_</a> /</li>
          <li><a href="https://github.com/badboy">github</a></li>
        </ul>
      </div>

      {{content}}

      <div class="footer">
        <p>//
          &nbsp;&nbsp;jan-erik /
          <a href="http://twitter.com/badboy_">@badboy_</a> /
          <a href="/imprint/">imprint</a> /
          <a href="/feed.xml">feed</a>
        </p>
      </div>
    </div>
  </body> 
</html> 
