<!DOCTYPE html>
<html lang="en">
  <head>
      {% include "_head.liquid" %}
  </head>
  <body>
    {% include "_menu.liquid" %}


    <main>
      {{ page.content }}
    </main>

    {% include "_footer.liquid" %}
  </body>
</html>
